*{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  min-height: 100vh;
  
}

.tableHeader{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 50px;
}

.artistsTable{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.output{
 display: flex;
 flex-direction: row;
 align-items: center;
 text-align: center;
 gap: 30px;
 
}

.image{
  width: 60px;
  height: 80px;
}